<table class="table">
    <thead class="table__header header">
        <tr class="header_title">
            <th class="table__cell"></th>
            <th class="table__cell">Nombre</th>
            <th class="table__cell">Apellido</th>
            <th class="table__cell">Edad</th>
            <th class="table__cell">Documento</th>
            <th class="table__cell"></th>
            <th class="table__cell"></th>
        </tr>
    </thead><br>
    <tbody class="table__body body">
        <tr class="table__data">
            <th class="table__data__cell"><img src="../../../assets/user.png" alt="FotoUser" class="imgUser"></th>
            <th class="table__data__cell">Camilo</th>
            <th class="table__data__cell">Garzon</th>
            <th class="table__data__cell">26</th>
            <th class="table__data__cell">123456789</th>
            <th class="table__data__cell"><button>Verificar edad</button></th>
            <th class="table__data__cell"><button>Eliminar usuario</button></th>
        </tr>
    </tbody>
</table>